.workoutDetails {
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.workoutDetails h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1aac83;
}
.workoutDetails p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workoutDetails span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
